<!DOCTYPE html>
<html ng-app="sigeposApp">
  <head>
    <meta charset="utf-8">
    <title>Sigepos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="assets/css/materialize.css" media="screen" title="no title">
    <link rel="stylesheet" href="assets/css/icon.css" media="screen" title="no title">
  </head>
  <body class="">
    <nav class="black">
      <div class="nav-wrapper">
        <a style="cursor:pointer;margin-left:20px" data-activates="slide-out" class="menu-open brand-logo">
          <i class="material-icons">menu</i>
          Sigepos
        </a>
        <ul id="nav-mobiles" class="right hide-on-med-and-down">
          <li>
            <nav>
              <div class="nav-wrapper black">
                <form>
                  <div class="input-field">
                    <input id="search" type="search" required placeholder="Pesquisar serviço">
                    <label for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                  </div>
                </form>
              </div>
            </nav>
          </li>
          <li> <a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Nova OS"><i class="material-icons">add</i></a></li>
          <li><a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Mensagens"><i class="material-icons">inbox</i></a></li>
          <li><a class='dropdown-button' data-stoppropagation="true" data-alignment="left" data-gutter="10" data-beloworigin="true" data-activates='dropdown1'><i class="material-icons">arrow_drop_down</i></a></li>
        </ul>
        <ul id='dropdown1' class='dropdown-content'>
         <li ><a href="#!" class="blue-text" >Config.</a></li>
         <li class="divider"></li>
         <li><a href="#!" class="blue-text">Sair</a></li>
       </ul>
      </div>
    </nav>
    <ul id="slide-out" class="side-nav" ng-controller="menuCtrl">
        <li>
          <div class="userView">
            <img class="background" src="assets/img/tarde.gif">
            <a href="#!user"><img class="circle" src="assets/img/profile.jpg"></a>
            <a href="#!name"><span class="blue-text name">AJAT Desenvolvimento</span></a>
            <a href="#!email"><span class="blue-text email">ajatdesenvolvimento@gmail.com</span></a>
          </div>
        </li>
        <li ng-click="_ordemServico()"><a href="#!"><i class="material-icons">build</i>Ordem de serviço</a></li>
        <li ng-click="_categorias()"><a href="#!"><i class="material-icons">view_list</i>Categorias</a></li>
        <li ng-click="_tecnicos()"><a href="#!"><i class="material-icons">group</i>Técnicos</a></li>
        <li ng-click="_clientes()"><a href="#!"><i class="material-icons">wc</i>Clientes</a></li>
        <li ng-click="_contatos()"><a href="#!"><i class="material-icons">call</i>Contatos</a></li>
        <li ng-click="_relatorios()"><a href="#!"><i class="material-icons">timeline</i>Relatórios</a></li>
        <li ng-click="_configuracoes()"><a href="#!"><i class="material-icons">settings</i>Configurações</a></li>
        <li ng-click="_sair()"><a href="#!"><i class="material-icons">lock</i>Sair</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Desenvolvido por</a></li>
        <li><a class="waves-effect" target="_blank" href="http://ajatdesenvolvimento.com.br">AJAT Desenvolvimento ®</a></li>
    </ul>
    <div class="body" >
      <!-- {{include_page}} -->
      <div ng-include="include_page">

      </div>
    </div>

      <script src="assets/js/angular.min.js"></script>
      <script src="assets/js/config.js"></script>
      <!-- CONTROLLERS -->
      <script type="text/javascript" src="modules/menu/menu.js"></script>
      <script type="text/javascript" src="modules/categorias/categorias.js"></script>
      <!-- CONTROLLERS -->
      <script src="assets/js/jquery-3.1.0.min.js"></script>
      <script src="assets/js/bin/materialize.min.js"></script>
      <script>
        $(document).ready(function(){
          $(".menu-open").sideNav();
           // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
           $('.modal-trigger').leanModal();
         });
      </script>

  </body>
</html>
